@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: var(--font-open-sans), ui-sans-serif, system-ui, sans-serif;

  --color-grey: #545454;
  --color-dark-grey: #3f3e3e;
  --color-sage: #8db3a3;
  --color-yellow: #ffbd59;

  --color-red: #ff3027;
  --color-green: #00bf63;
  --color-blue: #38b6ff;
}
